{
  "Architecture": [
    "any all"
  ],
  "Binary": [
    "libkf5configwidgets-data, libkf5configwidgets-dev, libkf5configwidgets-doc, libkf5configwidgets5"
  ],
  "Build-Depends": [
    "debhelper-compat (= 13), dh-sequence-kf5, dh-sequence-pkgkde-symbolshelper, cmake (\u003e= 3.16~), dbus \u003c!nocheck\u003e, doxygen, extra-cmake-modules (\u003e= 5.116.0~), gettext, libkf5auth-dev (\u003e= 5.116.0~), libkf5codecs-dev (\u003e= 5.116.0~), libkf5config-dev (\u003e= 5.116.0~), libkf5coreaddons-dev (\u003e= 5.116.0~), libkf5doctools-dev (\u003e= 5.116.0~), libkf5guiaddons-dev (\u003e= 5.116.0~), libkf5i18n-dev (\u003e= 5.116.0~), libkf5widgetsaddons-dev (\u003e= 5.116.0~), libqt5sql5-sqlite, qtbase5-dev (\u003e= 5.15.2~), qttools5-dev, qttools5-dev-tools (\u003e= 5.4), xauth \u003c!nocheck\u003e, xvfb \u003c!nocheck\u003e"
  ],
  "Checksums-Sha256": [
    "3d913c920150fb66eed92ee1a367f9da579c317e8d7a9d504e930083955d770c 3201 kconfigwidgets_5.116.0-1.dsc e45697f01297a1f7a6058be267e08bdf0b4f7332e3b8d78f932a36e5bd57c5b8 2614488 kconfigwidgets_5.116.0.orig.tar.xz 5e23e89dad787996b6a1db86fe49e82a2e8e405766d97d7a666f9d0ec2826080 488 kconfigwidgets_5.116.0.orig.tar.xz.asc 309ac16cc4118921492aef24f84b90e85a0d05221612fba6e989c2e28e7b80bb 17396 kconfigwidgets_5.116.0-1.debian.tar.xz"
  ],
  "Directory": [
    "pool/main/k/kconfigwidgets"
  ],
  "Files": [
    "d5f398bd8f0b21926903b2542c3bebfd 3201 kconfigwidgets_5.116.0-1.dsc de34c31d5df3659c09957afaf31637e7 2614488 kconfigwidgets_5.116.0.orig.tar.xz e61abd94a11e674b6413d18e4af75fc5 488 kconfigwidgets_5.116.0.orig.tar.xz.asc 220ee4e68bb7d3e8f5acdc30e4b15e8a 17396 kconfigwidgets_5.116.0-1.debian.tar.xz"
  ],
  "Format": [
    "3.0 (quilt)"
  ],
  "Homepage": [
    "https://invent.kde.org/frameworks/kconfigwidgets"
  ],
  "Maintainer": [
    "Debian Qt/KDE Maintainers \u003cdebian-qt-kde@lists.debian.org\u003e"
  ],
  "Package": [
    "kconfigwidgets"
  ],
  "Package-List": [
    "libkf5configwidgets-data deb libs optional arch=all libkf5configwidgets-dev deb libdevel optional arch=any libkf5configwidgets-doc deb doc optional arch=all libkf5configwidgets5 deb libs optional arch=any"
  ],
  "Priority": [
    "optional"
  ],
  "Section": [
    "misc"
  ],
  "Standards-Version": [
    "4.7.2"
  ],
  "Testsuite": [
    "autopkgtest"
  ],
  "Testsuite-Triggers": [
    "dh-acc, exuberant-ctags"
  ],
  "Uploaders": [
    "Aurélien COUDERC \u003ccoucouf@debian.org\u003e, Patrick Franz \u003cdeltaone@debian.org\u003e,"
  ],
  "Vcs-Browser": [
    "https://salsa.debian.org/qt-kde-team/kde/kconfigwidgets"
  ],
  "Vcs-Git": [
    "https://salsa.debian.org/qt-kde-team/kde/kconfigwidgets.git"
  ],
  "Version": [
    "5.116.0-1"
  ]
}