{
  "Architecture": [
    "any all"
  ],
  "Binary": [
    "libkf5configwidgets-data, libkf5configwidgets-dev, libkf5configwidgets-doc, libkf5configwidgets5"
  ],
  "Build-Depends": [
    "cmake (\u003e= 3.16~), dbus \u003c!nocheck\u003e, debhelper-compat (= 13), dh-sequence-kf5, dh-sequence-pkgkde-symbolshelper, doxygen, extra-cmake-modules (\u003e= 5.115.0~), gettext, libkf5auth-dev (\u003e= 5.115.0~), libkf5codecs-dev (\u003e= 5.115.0~), libkf5config-dev (\u003e= 5.115.0~), libkf5coreaddons-dev (\u003e= 5.115.0~), libkf5doctools-dev (\u003e= 5.115.0~), libkf5guiaddons-dev (\u003e= 5.115.0~), libkf5i18n-dev (\u003e= 5.115.0~), libkf5widgetsaddons-dev (\u003e= 5.115.0~), libqt5sql5-sqlite, qtbase5-dev (\u003e= 5.15.2~), qttools5-dev, qttools5-dev-tools (\u003e= 5.4), xauth \u003c!nocheck\u003e, xvfb \u003c!nocheck\u003e"
  ],
  "Checksums-Sha256": [
    "7220c8a1fd39ee5652893a5b65a730e4f828f6b67e6480befa97ed258b6b7035 3201 kconfigwidgets_5.115.0-2.dsc 8ddb3203d97ad6681e93cad4c9b826105a8214c1f143aacdc8cbf11fd47e955b 2614352 kconfigwidgets_5.115.0.orig.tar.xz 3a0d66dadd69b24561ecc3c14aa63a3ff87c0ffedd9d52666f85bec8bddd7c47 488 kconfigwidgets_5.115.0.orig.tar.xz.asc 72881b3841cf87ccb939c6fb81461a34856dba5799fc80bc73e802ac248573c1 17224 kconfigwidgets_5.115.0-2.debian.tar.xz"
  ],
  "Directory": [
    "pool/main/k/kconfigwidgets"
  ],
  "Files": [
    "0ad4726a13cbe40bdcc159a3ab7c3ac2 3201 kconfigwidgets_5.115.0-2.dsc 22f355d87607bc76b9257724048ca73e 2614352 kconfigwidgets_5.115.0.orig.tar.xz eb1b22719898253aa301a2d1865b7d02 488 kconfigwidgets_5.115.0.orig.tar.xz.asc 1146895c60bf5fc7e959d244fcddeb1c 17224 kconfigwidgets_5.115.0-2.debian.tar.xz"
  ],
  "Format": [
    "3.0 (quilt)"
  ],
  "Homepage": [
    "https://invent.kde.org/frameworks/kconfigwidgets"
  ],
  "Maintainer": [
    "Debian Qt/KDE Maintainers \u003cdebian-qt-kde@lists.debian.org\u003e"
  ],
  "Package": [
    "kconfigwidgets"
  ],
  "Package-List": [
    "libkf5configwidgets-data deb libs optional arch=all libkf5configwidgets-dev deb libdevel optional arch=any libkf5configwidgets-doc deb doc optional arch=all libkf5configwidgets5 deb libs optional arch=any"
  ],
  "Priority": [
    "optional"
  ],
  "Section": [
    "misc"
  ],
  "Standards-Version": [
    "4.6.2"
  ],
  "Testsuite": [
    "autopkgtest"
  ],
  "Testsuite-Triggers": [
    "dh-acc, exuberant-ctags"
  ],
  "Uploaders": [
    "Aurélien COUDERC \u003ccoucouf@debian.org\u003e, Patrick Franz \u003cdeltaone@debian.org\u003e,"
  ],
  "Vcs-Browser": [
    "https://salsa.debian.org/qt-kde-team/kde/kconfigwidgets"
  ],
  "Vcs-Git": [
    "https://salsa.debian.org/qt-kde-team/kde/kconfigwidgets.git"
  ],
  "Version": [
    "5.115.0-2"
  ]
}