{
  "Architecture": [
    "any all"
  ],
  "Binary": [
    "libkf5config-bin, libkf5config-data, libkf5config-dev, libkf5config-dev-bin, libkf5config-doc, libkf5configcore5, libkf5configgui5, libkf5configqml5"
  ],
  "Build-Depends": [
    "cmake (\u003e= 3.16~), dbus-x11 \u003c!nocheck\u003e, debhelper-compat (= 13), dh-sequence-kf5, dh-sequence-pkgkde-symbolshelper, doxygen (\u003e= 1.8.13~), extra-cmake-modules (\u003e= 5.107.0~), libqt5sql5-sqlite, pkg-kde-tools (\u003e= 0.15.15ubuntu1~), qtbase5-dev (\u003e= 5.15.2~), qtdeclarative5-dev (\u003e= 5.15.2~), qttools5-dev (\u003e= 5.4), qttools5-dev-tools (\u003e= 5.4), xauth \u003c!nocheck\u003e, xvfb \u003c!nocheck\u003e"
  ],
  "Checksums-Sha256": [
    "c4754cf0fe914229711f43e0421b850d9515310072982ea89b9c0335df5072b9 3100 kconfig_5.107.0-1.dsc 9697d4bca5255e62df99f7e80b4d0f22d532317b4bff3d67e81c4f7641ee5b13 293800 kconfig_5.107.0.orig.tar.xz c56d48d38ea6d0aebb5c4ee551f23a6f30130ff27a1d377b4cfa6d0db2a28528 488 kconfig_5.107.0.orig.tar.xz.asc fd7cc7176bce817e913f1a987ae8fd3410da3f58d72fdb6c85732f3967cafb19 21776 kconfig_5.107.0-1.debian.tar.xz"
  ],
  "Directory": [
    "pool/main/k/kconfig"
  ],
  "Files": [
    "f5a603f226613088f9dc9338be330ad2 3100 kconfig_5.107.0-1.dsc 142d06d52e7ebcc0fa53d4b2963dd1db 293800 kconfig_5.107.0.orig.tar.xz 0e28d1d465c772462477bc55b02618f6 488 kconfig_5.107.0.orig.tar.xz.asc 29e4bf652c5ce8e70d4b390b4e66c892 21776 kconfig_5.107.0-1.debian.tar.xz"
  ],
  "Format": [
    "3.0 (quilt)"
  ],
  "Homepage": [
    "https://invent.kde.org/frameworks/kconfig"
  ],
  "Maintainer": [
    "Debian Qt/KDE Maintainers \u003cdebian-qt-kde@lists.debian.org\u003e"
  ],
  "Package": [
    "kconfig"
  ],
  "Package-List": [
    "libkf5config-bin deb libs optional arch=any libkf5config-data deb libs optional arch=all libkf5config-dev deb libdevel optional arch=any libkf5config-dev-bin deb libdevel optional arch=any libkf5config-doc deb doc optional arch=all libkf5configcore5 deb libs optional arch=any libkf5configgui5 deb libs optional arch=any libkf5configqml5 deb libs optional arch=any"
  ],
  "Priority": [
    "optional"
  ],
  "Section": [
    "misc"
  ],
  "Standards-Version": [
    "4.6.2"
  ],
  "Testsuite": [
    "autopkgtest"
  ],
  "Testsuite-Triggers": [
    "dh-acc, exuberant-ctags"
  ],
  "Uploaders": [
    "Aurélien COUDERC \u003ccoucouf@debian.org\u003e,"
  ],
  "Vcs-Browser": [
    "https://salsa.debian.org/qt-kde-team/kde/kconfig"
  ],
  "Vcs-Git": [
    "https://salsa.debian.org/qt-kde-team/kde/kconfig.git"
  ],
  "Version": [
    "5.107.0-1"
  ]
}