{
  "Architecture": [
    "any all"
  ],
  "Binary": [
    "libkf5config-bin, libkf5config-data, libkf5config-dev, libkf5config-dev-bin, libkf5config-doc, libkf5configcore5, libkf5configgui5, libkf5configqml5"
  ],
  "Build-Depends": [
    "debhelper-compat (= 13), dh-sequence-kf5, dh-sequence-pkgkde-symbolshelper, cmake (\u003e= 3.16~), dbus-x11 \u003c!nocheck\u003e, doxygen (\u003e= 1.8.13~), extra-cmake-modules (\u003e= 5.116.0~), libqt5sql5-sqlite, pkg-kde-tools (\u003e= 0.15.15ubuntu1~), qtbase5-dev (\u003e= 5.15.2~), qtdeclarative5-dev (\u003e= 5.15.2~), qttools5-dev (\u003e= 5.4), qttools5-dev-tools (\u003e= 5.4), xauth \u003c!nocheck\u003e, xvfb \u003c!nocheck\u003e"
  ],
  "Checksums-Sha256": [
    "ac560a4a45ae13fe8eb1850d5b4ade314444e25a3080a6be7c668c5c55ede970 3141 kconfig_5.116.0-1.dsc 2c5de3609273aa167a5c49be42470a3bf87d70fc8565ba6cee3717c00067470e 296716 kconfig_5.116.0.orig.tar.xz 1be621b3419ea04c4dffcb4dd3950d3e233ef864759317b45c913c4c284628f8 488 kconfig_5.116.0.orig.tar.xz.asc db2dd498d14bff3f3be82ea506fea192bcd3b8b084d7c3f72837ccfc9f8ffb3d 21868 kconfig_5.116.0-1.debian.tar.xz"
  ],
  "Directory": [
    "pool/main/k/kconfig"
  ],
  "Files": [
    "c27e5a822764a668fca14829ded8b3f0 3141 kconfig_5.116.0-1.dsc b8d53f0bb916a5da2201dfbd2da3bce8 296716 kconfig_5.116.0.orig.tar.xz 0f467e19ea5a02024bdf8c1de2ba6ac4 488 kconfig_5.116.0.orig.tar.xz.asc 8ec89e8eb1cab1cb50a83848ec34efdc 21868 kconfig_5.116.0-1.debian.tar.xz"
  ],
  "Format": [
    "3.0 (quilt)"
  ],
  "Homepage": [
    "https://invent.kde.org/frameworks/kconfig"
  ],
  "Maintainer": [
    "Debian Qt/KDE Maintainers \u003cdebian-qt-kde@lists.debian.org\u003e"
  ],
  "Package": [
    "kconfig"
  ],
  "Package-List": [
    "libkf5config-bin deb libs optional arch=any libkf5config-data deb libs optional arch=all libkf5config-dev deb libdevel optional arch=any libkf5config-dev-bin deb libdevel optional arch=any libkf5config-doc deb doc optional arch=all libkf5configcore5 deb libs optional arch=any libkf5configgui5 deb libs optional arch=any libkf5configqml5 deb libs optional arch=any"
  ],
  "Priority": [
    "optional"
  ],
  "Section": [
    "misc"
  ],
  "Standards-Version": [
    "4.7.2"
  ],
  "Testsuite": [
    "autopkgtest"
  ],
  "Testsuite-Triggers": [
    "dh-acc, exuberant-ctags"
  ],
  "Uploaders": [
    "Aurélien COUDERC \u003ccoucouf@debian.org\u003e, Patrick Franz \u003cdeltaone@debian.org\u003e,"
  ],
  "Vcs-Browser": [
    "https://salsa.debian.org/qt-kde-team/kde/kconfig"
  ],
  "Vcs-Git": [
    "https://salsa.debian.org/qt-kde-team/kde/kconfig.git"
  ],
  "Version": [
    "5.116.0-1"
  ]
}