{
  "Architecture": [
    "any all"
  ],
  "Binary": [
    "libkf5config-bin, libkf5config-data, libkf5config-dev, libkf5config-dev-bin, libkf5config-doc, libkf5configcore5, libkf5configgui5, libkf5configqml5"
  ],
  "Build-Depends": [
    "cmake (\u003e= 3.16~), dbus-x11 \u003c!nocheck\u003e, debhelper-compat (= 13), dh-sequence-kf5, dh-sequence-pkgkde-symbolshelper, doxygen (\u003e= 1.8.13~), extra-cmake-modules (\u003e= 5.103.0~), libqt5sql5-sqlite, pkg-kde-tools (\u003e= 0.15.15ubuntu1~), qtbase5-dev (\u003e= 5.15.2~), qtdeclarative5-dev (\u003e= 5.15.2~), qttools5-dev (\u003e= 5.4), qttools5-dev-tools (\u003e= 5.4), xauth \u003c!nocheck\u003e, xvfb \u003c!nocheck\u003e"
  ],
  "Checksums-Sha256": [
    "1600171498c08c4047a4c139527811e1c9bb08cb4c5a3f0ed9fbeb028de14697 3104 kconfig_5.103.0-2.dsc 5f41e6f566e1eb0ee455886d9ffb69e080ed219e40f4a315b6dd0fd8de3bb918 291668 kconfig_5.103.0.orig.tar.xz e5724a95656cacd70923ceb700a2e9fcf7da830ff398799878bc0630c809b785 488 kconfig_5.103.0.orig.tar.xz.asc 9748c3138edf93df7fe16f5729714b3d643457c37ec17d8c639c380b63fbc915 24888 kconfig_5.103.0-2.debian.tar.xz"
  ],
  "Directory": [
    "pool/main/k/kconfig"
  ],
  "Files": [
    "a04a17b9d2c65a7ec496f33ad21cd473 3104 kconfig_5.103.0-2.dsc a8347f5ca9166c92617f83214beb652e 291668 kconfig_5.103.0.orig.tar.xz cee8ca1d001adbc2a68a165420427fbd 488 kconfig_5.103.0.orig.tar.xz.asc 8d43d33cfd86329a8456d1ed252365c0 24888 kconfig_5.103.0-2.debian.tar.xz"
  ],
  "Format": [
    "3.0 (quilt)"
  ],
  "Homepage": [
    "https://invent.kde.org/frameworks/kconfig"
  ],
  "Maintainer": [
    "Debian Qt/KDE Maintainers \u003cdebian-qt-kde@lists.debian.org\u003e"
  ],
  "Package": [
    "kconfig"
  ],
  "Package-List": [
    "libkf5config-bin deb libs optional arch=any libkf5config-data deb libs optional arch=all libkf5config-dev deb libdevel optional arch=any libkf5config-dev-bin deb libdevel optional arch=any libkf5config-doc deb doc optional arch=all libkf5configcore5 deb libs optional arch=any libkf5configgui5 deb libs optional arch=any libkf5configqml5 deb libs optional arch=any"
  ],
  "Priority": [
    "optional"
  ],
  "Section": [
    "misc"
  ],
  "Standards-Version": [
    "4.6.2"
  ],
  "Testsuite": [
    "autopkgtest"
  ],
  "Testsuite-Triggers": [
    "dh-acc, exuberant-ctags"
  ],
  "Uploaders": [
    "Aurélien COUDERC \u003ccoucouf@debian.org\u003e,"
  ],
  "Vcs-Browser": [
    "https://salsa.debian.org/qt-kde-team/kde/kconfig"
  ],
  "Vcs-Git": [
    "https://salsa.debian.org/qt-kde-team/kde/kconfig.git"
  ],
  "Version": [
    "5.103.0-2"
  ]
}