{
  "Architecture": [
    "any all"
  ],
  "Binary": [
    "libkf5configwidgets-data, libkf5configwidgets-dev, libkf5configwidgets-doc, libkf5configwidgets5"
  ],
  "Build-Depends": [
    "cmake (\u003e= 3.16~), dbus \u003c!nocheck\u003e, debhelper-compat (= 13), doxygen, extra-cmake-modules (\u003e= 5.103.0~), gettext, libkf5auth-dev (\u003e= 5.103.0~), libkf5codecs-dev (\u003e= 5.103.0~), libkf5config-dev (\u003e= 5.103.0~), libkf5coreaddons-dev (\u003e= 5.103.0~), libkf5doctools-dev (\u003e= 5.103.0~), libkf5guiaddons-dev (\u003e= 5.103.0~), libkf5i18n-dev (\u003e= 5.103.0~), libkf5widgetsaddons-dev (\u003e= 5.103.0~), libqt5sql5-sqlite, pkg-kde-tools (\u003e= 0.15.15ubuntu1~), qtbase5-dev (\u003e= 5.15.2~), qttools5-dev, qttools5-dev-tools (\u003e= 5.4), xauth \u003c!nocheck\u003e, xvfb \u003c!nocheck\u003e"
  ],
  "Checksums-Sha256": [
    "f63b49dd3ab74425b7e8c4f83e2e24f3341cbb30cc7e3744cb580cc7c0171ceb 3162 kconfigwidgets_5.103.0-1.dsc f91cef38cc4e6068a35ad36a1ad229e2f57821dab22b4cc6181df671f16aa373 2611872 kconfigwidgets_5.103.0.orig.tar.xz caa525dcc8f823570e259083aa1101a711e78f347c272d10eba79b656c03dd84 488 kconfigwidgets_5.103.0.orig.tar.xz.asc 9b57a1d806ccf89344470830c710485ff00bb1880d2a2f3c70b9dc7bda04ba34 17192 kconfigwidgets_5.103.0-1.debian.tar.xz"
  ],
  "Directory": [
    "pool/main/k/kconfigwidgets"
  ],
  "Files": [
    "e3a86e5809be6ec9d909a37340066af7 3162 kconfigwidgets_5.103.0-1.dsc 6a5b65a200747ac103f67ae903783757 2611872 kconfigwidgets_5.103.0.orig.tar.xz 93d051ef9305f4b7d7e8670c67269afd 488 kconfigwidgets_5.103.0.orig.tar.xz.asc 4539b9a9087c9cc0d75c47605a28aa71 17192 kconfigwidgets_5.103.0-1.debian.tar.xz"
  ],
  "Format": [
    "3.0 (quilt)"
  ],
  "Homepage": [
    "https://invent.kde.org/frameworks/kconfigwidgets"
  ],
  "Maintainer": [
    "Debian Qt/KDE Maintainers \u003cdebian-qt-kde@lists.debian.org\u003e"
  ],
  "Package": [
    "kconfigwidgets"
  ],
  "Package-List": [
    "libkf5configwidgets-data deb libs optional arch=all libkf5configwidgets-dev deb libdevel optional arch=any libkf5configwidgets-doc deb doc optional arch=all libkf5configwidgets5 deb libs optional arch=any"
  ],
  "Priority": [
    "optional"
  ],
  "Section": [
    "misc"
  ],
  "Standards-Version": [
    "4.6.2"
  ],
  "Testsuite": [
    "autopkgtest"
  ],
  "Testsuite-Triggers": [
    "dh-acc, exuberant-ctags"
  ],
  "Uploaders": [
    "Aurélien COUDERC \u003ccoucouf@debian.org\u003e, Norbert Preining \u003cnorbert@preining.info\u003e,"
  ],
  "Vcs-Browser": [
    "https://salsa.debian.org/qt-kde-team/kde/kconfigwidgets"
  ],
  "Vcs-Git": [
    "https://salsa.debian.org/qt-kde-team/kde/kconfigwidgets.git"
  ],
  "Version": [
    "5.103.0-1"
  ]
}