{
  "Architecture": [
    "any all"
  ],
  "Binary": [
    "libkf5config-bin, libkf5config-data, libkf5config-dev, libkf5config-dev-bin, libkf5config-doc, libkf5configcore5, libkf5configgui5"
  ],
  "Build-Depends": [
    "cmake (\u003e= 3.5~), dbus-x11 \u003c!nocheck\u003e, debhelper-compat (= 13), doxygen (\u003e= 1.8.13~), extra-cmake-modules (\u003e= 5.78.0~), libqt5sql5-sqlite, pkg-kde-tools (\u003e= 0.15.15ubuntu1~), qtbase5-dev (\u003e= 5.14.0~), qttools5-dev (\u003e= 5.4), qttools5-dev-tools (\u003e= 5.4), xauth \u003c!nocheck\u003e, xvfb \u003c!nocheck\u003e"
  ],
  "Checksums-Sha256": [
    "068aec0d326e43232933e60790e81e86627b79692163873157dc82d5f2f63834 2609 kconfig_5.78.0-4.dsc b27a1e97d520e98178f955b8ab29e794df7733beab1898ef06ab5f14afcfffbb 263928 kconfig_5.78.0.orig.tar.xz 54aa1421bdcfb6da210be5f8160b10dc63f188161a4028f26fb5e4741ca52746 488 kconfig_5.78.0.orig.tar.xz.asc 9e533ee0d82e227c16d0d24c4832744f338429ab4e9091ab28adb48d88058f89 20484 kconfig_5.78.0-4.debian.tar.xz"
  ],
  "Directory": [
    "pool/main/k/kconfig"
  ],
  "Files": [
    "56d2ee99c47f669e5efa4a3422707895 2609 kconfig_5.78.0-4.dsc f36777a17099355f868e1b19e0cf7767 263928 kconfig_5.78.0.orig.tar.xz c76b0db400660cfb0f99f0c0bc85e55b 488 kconfig_5.78.0.orig.tar.xz.asc 7821115797d16345c8a8b4389028d254 20484 kconfig_5.78.0-4.debian.tar.xz"
  ],
  "Format": [
    "3.0 (quilt)"
  ],
  "Homepage": [
    "https://invent.kde.org/frameworks/kconfig"
  ],
  "Maintainer": [
    "Debian Qt/KDE Maintainers \u003cdebian-qt-kde@lists.debian.org\u003e"
  ],
  "Package": [
    "kconfig"
  ],
  "Package-List": [
    "libkf5config-bin deb libs optional arch=any libkf5config-data deb libs optional arch=all libkf5config-dev deb libdevel optional arch=any libkf5config-dev-bin deb libdevel optional arch=any libkf5config-doc deb doc optional arch=all libkf5configcore5 deb libs optional arch=any libkf5configgui5 deb libs optional arch=any"
  ],
  "Priority": [
    "optional"
  ],
  "Section": [
    "misc"
  ],
  "Standards-Version": [
    "4.5.1"
  ],
  "Testsuite": [
    "autopkgtest"
  ],
  "Testsuite-Triggers": [
    "dh-acc, exuberant-ctags"
  ],
  "Uploaders": [
    "Maximiliano Curia \u003cmaxy@debian.org\u003e, Norbert Preining \u003cnorbert@preining.info\u003e"
  ],
  "Vcs-Browser": [
    "https://salsa.debian.org/qt-kde-team/kde/kconfig"
  ],
  "Vcs-Git": [
    "https://salsa.debian.org/qt-kde-team/kde/kconfig.git"
  ],
  "Version": [
    "5.78.0-4"
  ]
}