{
  "Architecture": [
    "any all"
  ],
  "Binary": [
    "libkf5configwidgets-data, libkf5configwidgets-dev, libkf5configwidgets-doc, libkf5configwidgets5"
  ],
  "Build-Depends": [
    "cmake (\u003e= 3.5~), debhelper-compat (= 13), doxygen, extra-cmake-modules (\u003e= 5.78.0~), gettext, libkf5auth-dev (\u003e= 5.78.0~), libkf5codecs-dev (\u003e= 5.78.0~), libkf5config-dev (\u003e= 5.78.0~), libkf5coreaddons-dev (\u003e= 5.78.0~), libkf5doctools-dev (\u003e= 5.78.0~), libkf5guiaddons-dev (\u003e= 5.78.0~), libkf5i18n-dev (\u003e= 5.78.0~), libkf5widgetsaddons-dev (\u003e= 5.78.0~), libqt5sql5-sqlite, pkg-kde-tools (\u003e= 0.15.15ubuntu1~), qtbase5-dev (\u003e= 5.14.0~), qttools5-dev, qttools5-dev-tools (\u003e= 5.4), xauth \u003c!nocheck\u003e, xvfb \u003c!nocheck\u003e"
  ],
  "Checksums-Sha256": [
    "aa6342a55804badf42aa2abd4ae1979e6cdcf092ae42b197b18c6a104fd0682f 2773 kconfigwidgets_5.78.0-2.dsc 87d4cd10145d5bf0e07f1913682553e368db0ee4a900d18368517ad9fda2ec39 389240 kconfigwidgets_5.78.0.orig.tar.xz c25307306d4e14c0f45114d9d90ff11246941faaa6020a02ed562886aaf3c4f9 488 kconfigwidgets_5.78.0.orig.tar.xz.asc 939e8355191fc29c2b4a7cef22ff473a4a47489f9b00e257c67454573e32fa43 15828 kconfigwidgets_5.78.0-2.debian.tar.xz"
  ],
  "Directory": [
    "pool/main/k/kconfigwidgets"
  ],
  "Files": [
    "4b35448fea053c5969347a5c457681e0 2773 kconfigwidgets_5.78.0-2.dsc ae17ccd13a0d09bf1de4a20e7d7bc629 389240 kconfigwidgets_5.78.0.orig.tar.xz 72c45dc83baf4104f9c51f9458eedab4 488 kconfigwidgets_5.78.0.orig.tar.xz.asc aff55a0de5e6e69883b2219dd6fed82a 15828 kconfigwidgets_5.78.0-2.debian.tar.xz"
  ],
  "Format": [
    "3.0 (quilt)"
  ],
  "Homepage": [
    "https://invent.kde.org/frameworks/kconfigwidgets"
  ],
  "Maintainer": [
    "Debian Qt/KDE Maintainers \u003cdebian-qt-kde@lists.debian.org\u003e"
  ],
  "Package": [
    "kconfigwidgets"
  ],
  "Package-List": [
    "libkf5configwidgets-data deb libs optional arch=all libkf5configwidgets-dev deb libdevel optional arch=any libkf5configwidgets-doc deb doc optional arch=all libkf5configwidgets5 deb libs optional arch=any"
  ],
  "Priority": [
    "optional"
  ],
  "Section": [
    "misc"
  ],
  "Standards-Version": [
    "4.5.1"
  ],
  "Testsuite": [
    "autopkgtest"
  ],
  "Testsuite-Triggers": [
    "dh-acc, exuberant-ctags"
  ],
  "Uploaders": [
    "Maximiliano Curia \u003cmaxy@debian.org\u003e, Norbert Preining \u003cnorbert@preining.info\u003e"
  ],
  "Vcs-Browser": [
    "https://salsa.debian.org/qt-kde-team/kde/kconfigwidgets"
  ],
  "Vcs-Git": [
    "https://salsa.debian.org/qt-kde-team/kde/kconfigwidgets.git"
  ],
  "Version": [
    "5.78.0-2"
  ]
}