{
  "Architecture": [
    "all"
  ],
  "Binary": [
    "python3-kconfiglib"
  ],
  "Build-Depends": [
    "debhelper-compat (= 13), dh-python, python3-setuptools, python3-all:any"
  ],
  "Checksums-Sha256": [
    "cf3e5dff6abdfc7ead01a05b90797e9367d0d51abd49cf05cfa92e49af99729f 1862 kconfiglib_14.1.0-3.dsc 571c5b6b0a5704fd08d1ec8312ce47438d52bca8d392b8adb81516aa11ae15f6 182990 kconfiglib_14.1.0.orig.tar.gz 6aee33a7b2a0885d690f3888599e3df8f1b81bcaa4eca294cb2a0c96a7b0d7ce 2480 kconfiglib_14.1.0-3.debian.tar.xz"
  ],
  "Directory": [
    "pool/main/k/kconfiglib"
  ],
  "Files": [
    "0adef836ba99a80799b06a3e9a549e7a 1862 kconfiglib_14.1.0-3.dsc f2977e7c479b919a15738f21f66bcc3c 182990 kconfiglib_14.1.0.orig.tar.gz 650b2d8951a70f61f8cc0874c17c1838 2480 kconfiglib_14.1.0-3.debian.tar.xz"
  ],
  "Format": [
    "3.0 (quilt)"
  ],
  "Homepage": [
    "https://github.com/ulfalizer/Kconfiglib"
  ],
  "Maintainer": [
    "Debian Python Team \u003cteam+python@tracker.debian.org\u003e"
  ],
  "Package": [
    "kconfiglib"
  ],
  "Package-List": [
    "python3-kconfiglib deb python optional arch=all"
  ],
  "Priority": [
    "optional"
  ],
  "Section": [
    "misc"
  ],
  "Standards-Version": [
    "4.6.0"
  ],
  "Uploaders": [
    "Bastian Germann \u003cbage@debian.org\u003e"
  ],
  "Vcs-Browser": [
    "https://salsa.debian.org/python-team/packages/kconfiglib"
  ],
  "Vcs-Git": [
    "https://salsa.debian.org/python-team/packages/kconfiglib.git"
  ],
  "Version": [
    "14.1.0-3"
  ]
}