{
  "Architecture": [
    "any all"
  ],
  "Binary": [
    "libkf5config-bin, libkf5config-data, libkf5config-dev, libkf5config-dev-bin, libkf5config-doc, libkf5configcore5, libkf5configgui5, libkf5configqml5"
  ],
  "Build-Depends": [
    "cmake (\u003e= 3.16~), dbus-x11 \u003c!nocheck\u003e, debhelper-compat (= 13), dh-sequence-kf5, dh-sequence-pkgkde-symbolshelper, doxygen (\u003e= 1.8.13~), extra-cmake-modules (\u003e= 5.115.0~), libqt5sql5-sqlite, pkg-kde-tools (\u003e= 0.15.15ubuntu1~), qtbase5-dev (\u003e= 5.15.2~), qtdeclarative5-dev (\u003e= 5.15.2~), qttools5-dev (\u003e= 5.4), qttools5-dev-tools (\u003e= 5.4), xauth \u003c!nocheck\u003e, xvfb \u003c!nocheck\u003e"
  ],
  "Checksums-Sha256": [
    "6a75d7727448ea94f222729f39134843f6673118e27f62e883ad8be3dd9efd7f 3141 kconfig_5.115.0-2.dsc bd692b2adf56c54a0fb1e2d402becdc326a8df8ceb89bef9f48361e1b1788612 295620 kconfig_5.115.0.orig.tar.xz 344c8b9cc8087df9ccab34bf24f063936e838fa45d41dea36116a5c94cdd2563 488 kconfig_5.115.0.orig.tar.xz.asc fe02b890f15784e1d9d8d419160c6c591024e2ca0be8c765ffa38f3a47c7279c 21668 kconfig_5.115.0-2.debian.tar.xz"
  ],
  "Directory": [
    "pool/main/k/kconfig"
  ],
  "Files": [
    "7e9f78359217be77e4ecab81f1aeda35 3141 kconfig_5.115.0-2.dsc fcb77cb2d9349b33e9e085ca4d2ebe7f 295620 kconfig_5.115.0.orig.tar.xz 561c02e8da902bf1f44819b461c07924 488 kconfig_5.115.0.orig.tar.xz.asc be56e44ad0b9c5c9cbc635fe93d4493b 21668 kconfig_5.115.0-2.debian.tar.xz"
  ],
  "Format": [
    "3.0 (quilt)"
  ],
  "Homepage": [
    "https://invent.kde.org/frameworks/kconfig"
  ],
  "Maintainer": [
    "Debian Qt/KDE Maintainers \u003cdebian-qt-kde@lists.debian.org\u003e"
  ],
  "Package": [
    "kconfig"
  ],
  "Package-List": [
    "libkf5config-bin deb libs optional arch=any libkf5config-data deb libs optional arch=all libkf5config-dev deb libdevel optional arch=any libkf5config-dev-bin deb libdevel optional arch=any libkf5config-doc deb doc optional arch=all libkf5configcore5 deb libs optional arch=any libkf5configgui5 deb libs optional arch=any libkf5configqml5 deb libs optional arch=any"
  ],
  "Priority": [
    "optional"
  ],
  "Section": [
    "misc"
  ],
  "Standards-Version": [
    "4.6.2"
  ],
  "Testsuite": [
    "autopkgtest"
  ],
  "Testsuite-Triggers": [
    "dh-acc, exuberant-ctags"
  ],
  "Uploaders": [
    "Aurélien COUDERC \u003ccoucouf@debian.org\u003e, Patrick Franz \u003cdeltaone@debian.org\u003e,"
  ],
  "Vcs-Browser": [
    "https://salsa.debian.org/qt-kde-team/kde/kconfig"
  ],
  "Vcs-Git": [
    "https://salsa.debian.org/qt-kde-team/kde/kconfig.git"
  ],
  "Version": [
    "5.115.0-2"
  ]
}