{
  "Architecture": [
    "any all"
  ],
  "Binary": [
    "libkf5configwidgets-data, libkf5configwidgets-dev, libkf5configwidgets-doc, libkf5configwidgets5"
  ],
  "Build-Depends": [
    "cmake (\u003e= 3.16~), dbus \u003c!nocheck\u003e, debhelper-compat (= 13), dh-sequence-kf5, dh-sequence-pkgkde-symbolshelper, doxygen, extra-cmake-modules (\u003e= 5.107.0~), gettext, libkf5auth-dev (\u003e= 5.107.0~), libkf5codecs-dev (\u003e= 5.107.0~), libkf5config-dev (\u003e= 5.107.0~), libkf5coreaddons-dev (\u003e= 5.107.0~), libkf5doctools-dev (\u003e= 5.107.0~), libkf5guiaddons-dev (\u003e= 5.107.0~), libkf5i18n-dev (\u003e= 5.107.0~), libkf5widgetsaddons-dev (\u003e= 5.107.0~), libqt5sql5-sqlite, qtbase5-dev (\u003e= 5.15.2~), qttools5-dev, qttools5-dev-tools (\u003e= 5.4), xauth \u003c!nocheck\u003e, xvfb \u003c!nocheck\u003e"
  ],
  "Checksums-Sha256": [
    "ee8ca769f67d682b51a02941451d505a8aadd463be540e6f059dce99f83696c1 3135 kconfigwidgets_5.107.0-2.dsc f16d8578ab311b46bdbdac11beaeca6b70a19417622d70c7b07fb6d71545c068 2613672 kconfigwidgets_5.107.0.orig.tar.xz 3356c92dc7b2f969e7e8dbc1863354f29b83b9fa2559098a695663daa0b886bd 488 kconfigwidgets_5.107.0.orig.tar.xz.asc ddcff0a48a4858584a212333f3dcebfca86badc22f5b278108c784e4936e8c68 17148 kconfigwidgets_5.107.0-2.debian.tar.xz"
  ],
  "Directory": [
    "pool/main/k/kconfigwidgets"
  ],
  "Files": [
    "300186f21ba4fcb09f313e114640a1e5 3135 kconfigwidgets_5.107.0-2.dsc 28ff96ff8cd42355135d016c67eff528 2613672 kconfigwidgets_5.107.0.orig.tar.xz 13bb73e946d186faefd2fdb2838cc6b2 488 kconfigwidgets_5.107.0.orig.tar.xz.asc 73c5fa64b3a4207a66630a41a8da172b 17148 kconfigwidgets_5.107.0-2.debian.tar.xz"
  ],
  "Format": [
    "3.0 (quilt)"
  ],
  "Homepage": [
    "https://invent.kde.org/frameworks/kconfigwidgets"
  ],
  "Maintainer": [
    "Debian Qt/KDE Maintainers \u003cdebian-qt-kde@lists.debian.org\u003e"
  ],
  "Package": [
    "kconfigwidgets"
  ],
  "Package-List": [
    "libkf5configwidgets-data deb libs optional arch=all libkf5configwidgets-dev deb libdevel optional arch=any libkf5configwidgets-doc deb doc optional arch=all libkf5configwidgets5 deb libs optional arch=any"
  ],
  "Priority": [
    "optional"
  ],
  "Section": [
    "misc"
  ],
  "Standards-Version": [
    "4.6.2"
  ],
  "Testsuite": [
    "autopkgtest"
  ],
  "Testsuite-Triggers": [
    "dh-acc, exuberant-ctags"
  ],
  "Uploaders": [
    "Aurélien COUDERC \u003ccoucouf@debian.org\u003e,"
  ],
  "Vcs-Browser": [
    "https://salsa.debian.org/qt-kde-team/kde/kconfigwidgets"
  ],
  "Vcs-Git": [
    "https://salsa.debian.org/qt-kde-team/kde/kconfigwidgets.git"
  ],
  "Version": [
    "5.107.0-2"
  ]
}