{
  "Architecture": [
    "any all"
  ],
  "Binary": [
    "libkf5config-bin, libkf5config-data, libkf5config-dev, libkf5config-dev-bin, libkf5config-doc, libkf5configcore5, libkf5configgui5"
  ],
  "Build-Depends": [
    "cmake (\u003e= 3.5~), debhelper (\u003e= 11~), doxygen (\u003e= 1.8.13~), extra-cmake-modules (\u003e= 5.54.0~), graphviz, libqt5sql5-sqlite, pkg-kde-tools (\u003e= 0.15.15ubuntu1~), qtbase5-dev (\u003e= 5.9.0~), qttools5-dev (\u003e= 5.4), qttools5-dev-tools (\u003e= 5.4)"
  ],
  "Checksums-Sha256": [
    "d255dc7f5d75bf0e33917e01f5a86a5a1339c994dbb3ede9652db2296014cab3 2960 kconfig_5.54.0-1+deb10u1.dsc e7b6023db1655b542ede2e0f598ca59551c04dff4ed6b178d31531022ae0e492 238464 kconfig_5.54.0.orig.tar.xz cc6c1b7c71f4390120ea17b0fdf2177fd91cf180cafecc9bf8baea6c674e10ed 753 kconfig_5.54.0.orig.tar.xz.asc eb344b4eef257f99d3ed353312ee4a170e212d2f4e0d0f58fede4b14366f3c66 18116 kconfig_5.54.0-1+deb10u1.debian.tar.xz"
  ],
  "Directory": [
    "pool/main/k/kconfig"
  ],
  "Files": [
    "46b5cf14e9c25509fde47d513f4bb857 2960 kconfig_5.54.0-1+deb10u1.dsc 611fb7b34a4a28e79173823a52efacba 238464 kconfig_5.54.0.orig.tar.xz 121fd6931f1aca0fd93357f571bbc118 753 kconfig_5.54.0.orig.tar.xz.asc 7cb484588e13d9cccac95791671a1fae 18116 kconfig_5.54.0-1+deb10u1.debian.tar.xz"
  ],
  "Format": [
    "3.0 (quilt)"
  ],
  "Homepage": [
    "https://projects.kde.org/projects/frameworks/kconfig"
  ],
  "Maintainer": [
    "Debian/Kubuntu Qt/KDE Maintainers \u003cdebian-qt-kde@lists.debian.org\u003e"
  ],
  "Package": [
    "kconfig"
  ],
  "Package-List": [
    "libkf5config-bin deb libs optional arch=any libkf5config-data deb libs optional arch=all libkf5config-dev deb libdevel optional arch=any libkf5config-dev-bin deb libdevel optional arch=any libkf5config-doc deb doc optional arch=all libkf5configcore5 deb libs optional arch=any libkf5configgui5 deb libs optional arch=any"
  ],
  "Priority": [
    "optional"
  ],
  "Section": [
    "misc"
  ],
  "Standards-Version": [
    "4.1.4"
  ],
  "Testsuite": [
    "autopkgtest"
  ],
  "Testsuite-Triggers": [
    "@builddeps@, build-essential, dbus, dh-acc, exuberant-ctags, xauth, xvfb"
  ],
  "Uploaders": [
    "Maximiliano Curia \u003cmaxy@debian.org\u003e"
  ],
  "Vcs-Browser": [
    "https://salsa.debian.org/qt-kde-team/kde/kconfig"
  ],
  "Vcs-Git": [
    "https://salsa.debian.org/qt-kde-team/kde/kconfig.git"
  ],
  "Version": [
    "5.54.0-1+deb10u1"
  ]
}