{
  "Architecture": [
    "linux-any"
  ],
  "Binary": [
    "kconfig-frontends"
  ],
  "Build-Depends": [
    "debhelper (\u003e= 10), flex, bison, gperf, libncurses5-dev, libgtk-3-dev, libglade2-dev, qtbase5-dev, pkg-config"
  ],
  "Checksums-Sha256": [
    "38002262461ad1230b9cc4931191a4d751ada5695d8737d04e947f2a67329557 2123 kconfig-frontends_4.11.0.1+dfsg-2.dsc 5462393596a42e6efed78e1b0a56fde75466dd50452394b841f2882a78000ca8 147261 kconfig-frontends_4.11.0.1+dfsg.orig.tar.bz2 f610bd0807a0a9b82a75d5c9af14285d3b15f59f763a08a40ddd1b6457455864 5948 kconfig-frontends_4.11.0.1+dfsg-2.debian.tar.xz"
  ],
  "Directory": [
    "pool/main/k/kconfig-frontends"
  ],
  "Files": [
    "698b6f351c225694507b95750b7b6633 2123 kconfig-frontends_4.11.0.1+dfsg-2.dsc 3a0a0a8e2a73f52a58864fbc212bb2d9 147261 kconfig-frontends_4.11.0.1+dfsg.orig.tar.bz2 9c731d0d439f56131d8224fed1fdfc26 5948 kconfig-frontends_4.11.0.1+dfsg-2.debian.tar.xz"
  ],
  "Format": [
    "3.0 (quilt)"
  ],
  "Homepage": [
    "http://ymorin.is-a-geek.org/projects/kconfig-frontends"
  ],
  "Maintainer": [
    "Philippe Thierry \u003cphilou@debian.org\u003e"
  ],
  "Package": [
    "kconfig-frontends"
  ],
  "Package-List": [
    "kconfig-frontends deb devel optional arch=linux-any"
  ],
  "Priority": [
    "extra"
  ],
  "Section": [
    "misc"
  ],
  "Standards-Version": [
    "4.2.1"
  ],
  "Testsuite": [
    "autopkgtest"
  ],
  "Vcs-Browser": [
    "https://salsa.debian.org/philou/kconfig-frontends"
  ],
  "Vcs-Git": [
    "https://salsa.debian.org/philou/kconfig-frontends.git"
  ],
  "Version": [
    "4.11.0.1+dfsg-2"
  ]
}