{
  "Architecture": [
    "any all"
  ],
  "Binary": [
    "libkf5configwidgets-data, libkf5configwidgets-dev, libkf5configwidgets-doc, libkf5configwidgets5"
  ],
  "Build-Depends": [
    "cmake (\u003e= 3.5~), debhelper (\u003e= 11~), docbook-xml, docbook-xsl, doxygen, extra-cmake-modules (\u003e= 5.54.0~), graphviz, libkf5auth-dev (\u003e= 5.54.0~), libkf5codecs-dev (\u003e= 5.54.0~), libkf5config-dev (\u003e= 5.54.0~), libkf5coreaddons-dev (\u003e= 5.54.0~), libkf5doctools-dev (\u003e= 5.54.0~), libkf5guiaddons-dev (\u003e= 5.54.0~), libkf5i18n-dev (\u003e= 5.54.0~), libkf5widgetsaddons-dev (\u003e= 5.54.0~), libqt5sql5-sqlite, libxml2-utils, pkg-kde-tools (\u003e= 0.15.15ubuntu1~), qtbase5-dev (\u003e= 5.9.0~), qttools5-dev-tools (\u003e= 5.4), xauth, xvfb"
  ],
  "Checksums-Sha256": [
    "3862a121707995203e5a48625bdf09cd0627f05a7f541c0a528adf0d132b0a4c 3095 kconfigwidgets_5.54.0-1.dsc 617090206976f2434e76d0bec2d96b89aa7ff01d602f558ab5f57cfbf08170d0 373608 kconfigwidgets_5.54.0.orig.tar.xz 42677857d9fa0f9c506526457347caf2cb438521638cd3596a5a0d621f0b311f 753 kconfigwidgets_5.54.0.orig.tar.xz.asc 546de892719f145e5dd05ff3b6f13361e67b086a268a457fb9c12dbdc6002c6b 12112 kconfigwidgets_5.54.0-1.debian.tar.xz"
  ],
  "Directory": [
    "pool/main/k/kconfigwidgets"
  ],
  "Files": [
    "180dcf98aad9756996181aab7005fc7b 3095 kconfigwidgets_5.54.0-1.dsc 1a1abc37032b4ba98d371f40bd219416 373608 kconfigwidgets_5.54.0.orig.tar.xz 7682d73aff5338be5d7df7e0b0275690 753 kconfigwidgets_5.54.0.orig.tar.xz.asc e5a1cbfa17930994d51870afab212e9c 12112 kconfigwidgets_5.54.0-1.debian.tar.xz"
  ],
  "Format": [
    "3.0 (quilt)"
  ],
  "Homepage": [
    "https://projects.kde.org/projects/frameworks/kconfigwidgets"
  ],
  "Maintainer": [
    "Debian/Kubuntu Qt/KDE Maintainers \u003cdebian-qt-kde@lists.debian.org\u003e"
  ],
  "Package": [
    "kconfigwidgets"
  ],
  "Package-List": [
    "libkf5configwidgets-data deb libs optional arch=all libkf5configwidgets-dev deb libdevel optional arch=any libkf5configwidgets-doc deb doc optional arch=all libkf5configwidgets5 deb libs optional arch=any"
  ],
  "Priority": [
    "optional"
  ],
  "Section": [
    "misc"
  ],
  "Standards-Version": [
    "4.1.4"
  ],
  "Testsuite": [
    "autopkgtest"
  ],
  "Testsuite-Triggers": [
    "dh-acc, exuberant-ctags"
  ],
  "Uploaders": [
    "Maximiliano Curia \u003cmaxy@debian.org\u003e"
  ],
  "Vcs-Browser": [
    "https://salsa.debian.org/qt-kde-team/kde/kconfigwidgets"
  ],
  "Vcs-Git": [
    "https://salsa.debian.org/qt-kde-team/kde/kconfigwidgets.git"
  ],
  "Version": [
    "5.54.0-1"
  ]
}